#index {
  background-image: url("pexels-photo-1587927.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Segoe UI;
  font-size: 20px;
}

.container {
  border-radius: 3px;
  margin: 500 30px;
}

.box {
  border-radius: 60px;
  padding: 80px;
  background-color: #fff;
  opacity: 0.9;
}

img {
  width: 25em;
}

select {
  border-radius: 200px;
  padding: 40 250px;
  box-shadow: 0 16px 6px 0 rgba(0, 0, 0, 0.664);
  font-size: 30px;
}
input {
  border-radius: 200px;
  padding: 40 120px;
  box-shadow: 0 16px 6px 0 rgba(0, 0, 0, 0.664);
  font-size: 30px;
}

.login {
  background-color: #25cb55;
  border-radius: 200px;
  padding: 20px 245px;
  box-shadow: 0 16px 6px 0 rgba(0, 0, 0, 0.664);
  font-size: 40px;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.videre {
  background-color: #25cb55;
  border-radius: 50%;
  padding: 40px;
  box-shadow: 0 16px 6px 0 rgba(0, 0, 0, 0.664);
  font-size: 30px;
  color: white;
  border: solid #ffffff 5px;
}

.videre:hover {
  background-color: #1c973f;
}

#mainWrapper {
  background-color: bisque;
  opacity: 0.8;
  border-radius: 25px;
}

#btnStart {
  background-color: #ff2d2d;
  border-radius: 200px;
  padding: 20px 24px;
  box-shadow: 0 16px 6px 0 rgba(0, 0, 0, 0.664);
  font-size: 20px;
  font-weight: 1000;
  color: white;
  margin-top: 15%;
  border: solid #ffffff 5px;
}

#btnMaps {
  background-color: #25cb55;
  border-radius: 200px;
  padding: 20px 24px;
  box-shadow: 0 16px 6px 0 rgba(0, 0, 0, 0.664);
  font-size: 20px;
  font-weight: 1000;
  color: white;
  border: solid #ffffff 5px;
}

#btnTilbage {
  background-color: #25cb55;
  border-radius: 200px;
  padding: 20px 24px;
  box-shadow: 0 16px 6px 0 rgba(0, 0, 0, 0.664);
  font-size: 20px;
  font-weight: 1000;
  color: white;
  border: solid #ffffff 5px;
}

#btnKryds {
  background-color: #ff2d2d;
  border-radius: 200px;
  padding: 10px 12px;
  box-shadow: 0 16px 6px 0 rgba(0, 0, 0, 0.664);
  font-size: 30px;
  font-weight: 1000;
  color: white;
  float: right;
  margin-top: 2%;
  margin-right: 2%;
  border: solid #ffffff 5px;
}

#btnKort {
  background-color: navy;
  border-radius: 200px;
  padding: 10px 10px;
  box-shadow: 0 16px 6px 0 rgba(0, 0, 0, 0.664);
  font-size: 30px;
  font-weight: 1000;
  color: white;
  float: left;
  margin-top: 2%;
  margin-left: 2%;
  border: solid #ffffff 5px;
}

#app {
  background: linear-gradient(bisque, grey);
  max-width: 100%;
  padding: 5%;
  height: 95vh;
}

#textWrapper {
  background-color: whitesmoke;
  border-radius: 35px;
  opacity: 0.8;
  max-width: 100%;
  text-align: center;
}
