body {
  background-image: url("pexels-photo-1587927.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Segoe UI;
  font-size: 20px;
}

.container {
  border-radius: 3px;
  margin: 500 30px;
}

.box {
  border-radius: 60px;
  padding: 80px;
  background-color: #fff;
  opacity: 0.9;
}

img {
    width: 25em;
}

select {
    border-radius: 200px;
    padding: 40 235px;    
    box-shadow: 0 16px 6px 0 rgba(0, 0, 0, 0.664);
    font-size: 30px;
}


input {
  border-radius: 200px;
  padding: 40 120px;  
  box-shadow: 0 16px 6px 0 rgba(0, 0, 0, 0.664);
  font-size: 30px;
}

.login {
  background-color: #25cb55;
  border-radius: 200px;
  padding: 20px 245px;
  box-shadow: 0 16px 6px 0 rgba(0, 0, 0, 0.664);
  font-size: 40px;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.videre {
  background-color: #25cb55;
  border-radius: 200px;
  padding: 25px 8px;
  box-shadow: 0 16px 6px 0 rgba(0, 0, 0, 0.664);
  font-size: 20px;
}



#mainWrapper {
  background-color: bisque;
  opacity: 0.8;
  border-radius: 25px;
}